/* layout manager */
hbox,   .hbox{display:flex; justify-content:flex-start; align-items:stretch; flex-direction:row;}
vbox,   .vbox{display:flex; justify-content:flex-start; align-items:stretch; flex-direction:column;}
client, .client{flex:1;position:relative;}

[valign="top"], .v-align--top {align-items:flex-start;}
[valign="bottom"], .v-align--bottom {align-items:flex-end;}
[valign="center"], .v-align--center {align-items:center;}

[halign="left"], .h-align--left {justify-content:flex-start;}
[halign="right"], .h-align--right {justify-content:flex-end;}
[halign="center"], .h-align--center {justify-content:center;}

vbox[layout="space-around"],  hbox[layout="space-around"],  .vbox[layout="space-around"],  .hbox[layout="space-around"] {justify-content:space-around;}
vbox[layout="space-between"], hbox[layout="space-between"], .vbox[layout="space-between"], .hbox[layout="space-between"]{justify-content:space-between;}
vbox[layout="center center"], hbox[layout="center"],        .vbox[layout="center center"], .hbox[layout="center center"]{justify-content:center; align-items:center;}

spacer, .spacer{flex-grow: 1;}

[box-test]{
    border: solid 1px red;
    margin: 2px;
    padding: 2px;
}

.table-canto{
    border: solid 1px #cccccc;
    border-style: solid solid none solid;
}
.table-categories{
    border: solid 1px #cccccc;
    border-style: none none solid solid;
}
.table-values{
    border: solid 1px #cccccc;
    border-style: none none solid none;
}
.cell{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 12px;
    border: solid 1px #cccccc;
    border-style: solid solid none none;
}
.category-cell{
    height: 24px;
    background: #fffce4;
    font-weight: bold;
}
.category-row{
    width: 70px;
}
.category-row-parent{
    align-items: flex-start;
    height: auto;
    padding-top: 4px;
}
.category-col{
    width: 90px;
}
.category-col-parent{
    width: auto;
}
.category-flex{
    flex: 1
}
.is-measure{
    color: #533d56;
    font-style: italic;
    font-weight: normal;
}
.data-cell{
    width: 90px;
    height: 24px;
    background: #f3f3f3;
}
.calculated-category{
    color: red;
    font-weight: bold
}
.calculated-data{
    color: red;
    font-weight: bold
}