v-hbox,   .v-hbox{display:flex; justify-content:flex-start; align-items:stretch; flex-direction:row;}
v-vbox,   .v-vbox{display:flex; justify-content:flex-start; align-items:stretch; flex-direction:column;}
v-client, .v-client{flex:1;position:relative;}

v-vbox[layout="start"],  v-hbox[layout="start"],  .v-vbox[layout="start"],  .v-hbox[layout="start"] {justify-content:flex-start;}
v-vbox[layout="center"], v-hbox[layout="center"], .v-vbox[layout="center"], .v-hbox[layout="center"]{justify-content:center;}
v-vbox[layout="end"],    v-hbox[layout="end"],    .v-vbox[layout="end"],    .v-hbox[layout="end"]   {justify-content:flex-end;}
v-vbox[layout="space-around"],  v-hbox[layout="space-around"],  .v-vbox[layout="space-around"],  .v-hbox[layout="space-around"] {justify-content:space-around;}
v-vbox[layout="space-between"], v-hbox[layout="space-between"], .v-vbox[layout="space-between"], .v-hbox[layout="space-between"]{justify-content:space-between;}
v-vbox[layout="center center"], v-hbox[layout="center"],        .v-vbox[layout="center center"], .v-hbox[layout="center"]       {justify-content:center; align-items:center;}

v-spacer, .v-spacer{flex-grow: 1;}

.label-col {
    background: rgba(255, 235, 59, 0.36);
}
.label-row {
    background: rgba(33, 150, 243, 0.28);
}
.label-calc, .value-calc{
    font-weight: bold;
}